<div class="tarjeta" >
    <div class="container">

        <div class="box">
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning">
                  -50%
                </div>
              </div>
            <h2 class="name">Producto</h2>
            <a href="" class="buy">Comprar</a>
            <img src="../../assets/img/tar-1.png" alt="" class="product" >
            <div class="circle" ></div>
        </div>
    </div>
    <div class="container">
        <div class="box">
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning">
                  -20%
                </div>
              </div>
            <h2 class="name">Producto</h2>
            <a href="" class="buy">Comprar</a>
            <img src="../../assets/img/tar-1.png" alt="" class="product" >
            <div class="circle" ></div>
        </div>
    </div>
    <div class="container">
      <div class="box">
          <div class="ribbon-wrapper">
              <div class="ribbon bg-warning">
                -20%
              </div>
            </div>
          <h2 class="name">Producto</h2>
          <a href="" class="buy">Comprar</a>
          <img src="../../assets/img/tar-1.png" alt="" class="product" >
          <div class="circle" ></div>
      </div>
  </div>
  <div class="container">
    <div class="box">
        <div class="ribbon-wrapper">
            <div class="ribbon bg-warning">
              -20%
            </div>
          </div>
        <h2 class="name">Producto</h2>
        <a href="" class="buy">Comprar</a>
        <img src="../../assets/img/tar-1.png" alt="" class="product" >
        <div class="circle" ></div>
    </div>
</div>
</div>