<div *ngIf="isLoggedIn; then sideOn else sideOff"></div>
<ng-template #sideOn>
  <aside class="main-sidebar sidebar-dark-primary elevation-4 text-lg" data-widget="treeview">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">MercadoOnline</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info" *ngIf="auth.user$|async as user">
          <a href="#" class="d-block">{{user.name}} </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
          <li routerLinkActive="active" *ngFor="let menu of menu" class="nav-item">
            <a [routerLink]="[menu.path]" class="nav-link">
              <i class="nav-icon fas {{menu.icon}}"></i>
              <p>{{ menu.title }}</p>
              <span *ngIf="novedades" class="right badge badge-danger">{{menu.new}}</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</ng-template>
<ng-template #sideOff>
    <aside class="main-sidebar sidebar-dark-primary elevation-4 text-lg" data-widget="treeview">
    <app-tarjeta style="width: 350px; height: 500px;"></app-tarjeta>
  </aside>
</ng-template>